@import "../utils";
@import "./navigation";

header {
  @include defaultMargin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  @include responsiveMobile {
    @include defaultMarginMobile;
  }

  .header_logo {
    width: 30%;
    height: 68px;
    background-image: url("../../assets/logo-kasa.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    @include responsiveMobile {
      height: 47px;
    }
    @include responsiveMobileXS {
      height: 35px;
    }
  }
}
