@import "../utils";

header {
  @include defaultMargin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  img {
    width: 100%;
    height: 44%;
    object-fit: cover;
  }
  .nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
  .nav a {
    color: map-get($colors, pumpkin);
    font-size: map-get($sizes, m);
    &:hover {
      text-decoration: underline;
    }
  }
  .nav_item--inactive {
    text-decoration: none;
  }
  .nav_item--active {
    text-decoration: underline;
  }
}
