@import "../utils";

.lodgingInfos_headerLodging {
  @include default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;

  h1 {
    font-weight: map-get($weights, normal);
    font-size: map-get($sizes, l);
    color: map-get($colors, pumpkin);
  }
  h2 {
    font-weight: map-get($weights, normal);
    font-size: map-get($sizes, base);
    color: map-get($colors, pumpkin);
  }
  .landlord_identity {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      text-align: right;
      line-height: map-get($sizes, lineheight);
      font-size: map-get($sizes, base);
      font-weight: map-get($weights, normal);
      color: map-get($colors, pumpkin);
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 32px;
    }
  }
}
